.navbar{
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    justify-content: space-between;
    padding: 20px 5%;
    background-color: white;
    z-index: 1000;
}

.menu{
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
}

.item{
    margin: 0 15px;
}

#products-grid {
    display: grid;
    /* This creates 4 equal columns. '1fr' means 1 fraction of available space. */
    grid-template-columns: repeat(4, 1fr);
    gap: 30px; 
}

.product-card {
    background: white;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
}

.product-card:hover {
    transform: translateY(-5px); 
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}

.product-card img {
    width: 100%;
    height: 250px;
    object-fit: cover; 
    border-radius: 4px;
}

.product-wrapper {
    margin-top: 150px; 
}

.controls {
    display: flex;
    justify-content: space-between;
    padding: 0 5%;
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    #products-grid {
        grid-template-columns: repeat(2, 1fr); /* 2 columns for tablets */
        gap: 10px;
    }
    .product-wrapper{
        margin-top: 160px;
    }

    .navbar {
        flex-direction: column; 
        padding: 10px;
    }

    .menu {
        flex-wrap: wrap; 
        justify-content: center;
        margin-top: 10px;
    }

    .item {
        margin: 5px 10px; 
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    #products-grid {
        grid-template-columns: 1fr; /* 1 column for phones */
    }
}

.hero {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f8f9fa;
    text-align: center;
    
}

.navbar a{
    text-decoration: none;
    color: black;
}

.cta-button {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 25px;
    background: #333;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}