* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body {
    background: #1e1f26;
    display: flex;
    justify-content: center;
    padding: 50px 20px;
}
.accordian{
    width: 100%;
    max-width: 600px;
}

.item {
    margin-bottom: 15px;
    border-radius: 6px;
    overflow: hidden;
}

.header {
    background: #2f4cff;
    color: white;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.icon {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    border: 2px solid white;

    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: bold;
    background: white;
    color: #2f4cff;
}

.content {
    background: white;
    padding: 0 20px;
    max-height: 0;
}

.item.active .content {
    max-height: 200px;
    padding: 15px 20px;
}

.item.active .icon {
    background: white;
    color: #2f4cff;
    
}

.icon::after {
    content: "+";
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.item.active .icon::after {
    content: "-";
}